@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --main-color: #2FCAB0;
    --red: #E62A2F;
    --brown: #4F342A;
    --bblack: #000;
    --black: #909090;
    --ft: #5d5c5c;
    --bg: #ffffff;
    --border: .1rem solid rgba(199, 199, 199, 0.3);
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
}

header {
    color: #565454;
    background: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 3rem;
}

.header .navbar a {
    margin: 0 1rem;
    color: var(--ft);
    font-size: 2rem;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .2rem dotted var(--black);
}

.header .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    cursor: pointer;
}

.header .search-form label {
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: #787878;
    margin-right: 1.5rem;
}

.header .search-form label:hover {
    color: var(--main-color);
}

/* home start */
section {
    padding: 2rem 7%;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/mainBanner_pc.jpg);
    background-size: cover;
    background-position: center;
}
/* .home .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    z-index: -1;
} */

.home .content {
    max-width: 70rem;

}
/* .home .slide .content {
    max-width: 70rem;

} */

.home .content h3 {
    font-size: 6rem;
    color: var(--brown);
    text-shadow: 4px 2px 2px gray;
}

.home .content p {
    color: var(--brown);
    font-size: 2.5rem;
    line-height: 2;
    padding: 1rem 0;
}



/* .swiper-button-prev, .swiper-button-next {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: #fff;
    color: var(--main-color);
}

.swiper-button-prev:hover, .swiper-button-next:hover{
    background: #fff;
    color: var(--red);
}
.swiper-button-prev::after, .swiper-button-next::after{
    font-size: 2rem;
} */



.btn {
    margin: 0.5rem;
    display: inline-block;
    padding: .4rem 1rem;
    font-size: 1.5rem;
    color: #fff;
    background: var(--main-color);
    /* border-radius:50px; */
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.btnRed {
    margin-top: 1rem;
    display: inline-block;
    padding: .4rem 1rem;
    font-size: 1.5rem;
    color: #fff;
    background: var(--red);
    /* border-radius:50px; */
    cursor: pointer;
}

/* newitem 슬라이드 */
.heading {
    text-align: center;
    color: var(--ft);
    text-transform: uppercase;
    padding: 6.5rem 0;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
}

.world .row {
    display: flex;
    align-items: center;
    background: var(--bg);
    flex-wrap: wrap;
}

.world .image {
    flex: 1 1 45rem;
    display: flex;
}

.world .image img {
    width: 50%;
}

.world .row .content {
    flex: 1 1 45rem;
    padding: 7rem 4rem;
    border: 1px var(--main-color);
    border-style: solid;
}

.world .row .content h3 {
    font-size: 3.5rem;
    color: var(--bblack);
    padding-bottom: 3rem;
}

.world .row .content p {
    font-size: 3rem;
    color: #aaa;
    padding-top: 10rem;
    line-height: 1.8;
    text-align: right;
}

.world .row .content p span {
    color: var(--main-color);
    padding-left: 1rem;
}

.world .row .content p span.grayline {
    text-decoration: line-through;
    color: var(--black);
}

.world .row .content p span.red {
    color: var(--bblack);
}


/* koreajj / best item start */
.koreajj .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.koreajj .box-container .box {
    padding: 2rem;
    text-align: center;
    color: var(--border);
    border: 1px var(--main-color);
    border-style: solid;
    /* background: var(--black); */
}

.koreajj .box-container .box img {
    width: 100%;
    height: 40rem;
}

.koreajj .box-container .box h3 {
    color: var(--bblack);
    font-size: 2.3rem;
    padding: 1rem 0;
    margin-bottom: 5rem;
}

.koreajj .box-container .box p {
    color: #8c8a8a;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.koreajj .box-container .box .price span {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
}

.koreajj .box-container .box:hover {
    background-color: #d4e4fa;
    color: #fff;
}

.koreajj .box-container .box span {
    padding-left: 1rem;
}

.koreajj .box-container .box span.gray {
    text-decoration: line-through;
}

.koreajj .box-container .box span.blue {
    color: var(--main-color);
}

.koreajj .box-container .box span.black {
    color: var(--bblack);
}

/* themes / sale start */
.themes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.themes .box-container .box {
    padding: 2rem;
    text-align: center;
    border: var(--border);
    /* background: #edebeb; */
}

.themes .box-container .box:hover {
    border: var(--main-color) solid 3px;
}

.themes .box-container .box .image {
    padding: 2rem 0;
}

.themes .box-container .box img {
    height: 30rem;
    width: 100%;
}
@media(max-width:450px){
    .themes .box-container .box img{
        height: 40rem;
    }
}

.themes .box-container .box .content h3 {
    color: var(--bblack);
    font-size: 2.5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
}

.themes .box-container .box .content p {
    color: var(--bblack);
    font-size: 2.5rem;
    padding-left: 1rem;
    font-weight: bolder;
}

.themes .box-container .box .content p .gray {
    text-decoration: line-through;
    color: var(--black);
    padding-left: 1rem;
}

.themes .box-container .box .content p .blue {
    color: var(--main-color);
    padding-left: 1rem;
}

.themes .box-container .box .content p .black {
    color: var(--bblack);
    padding-left: 1rem;
}


/* premium / event start */
.premium .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.premium .box-container .box {
    text-align: center;
    border: var(--border);
    /* padding-bottom: 2rem;
    background: var(--black); */
}

.premium .box-container .box .image {
    width: 100%;
    height: 70rem;
    overflow: hidden;
}

.premium .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.premium .box-container .box p {
    color: var(--ft);
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem 0;
}

.premium .box-container .box h3 {
    color: coral;
    font-size: 2.5rem;
}

/* area start */
.area .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.area .box-container .box {
    border: var(--border);
    background: #fff;
}

.area .box-container .box .content {
    padding: 2rem;
}

.area .box-container .box .content-box .title {
    font-size: 2.5rem;
    color: #fff;
    line-height: 1.5;
    font-weight: bolder;
    text-align: center;
    margin-top: 2rem;
}

.area .box-container .content .conbox1 img {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.area .box-container .content .conbox2 img {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.area .box-container .content .conbox2 p {
    color: var(--black);
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: left;
    padding-left: 3rem;
}

.area .box-container .content .conbox2 h3 {
    color: var(--bblack);
    font-size: 2.5rem;
    padding: 2rem;
}


/* event start */
.event .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.event .container .box {
    background: rgba(255, 255, 255);
    height: 340px;
    width: auto;
    border-radius: 0px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.8s;
    margin-bottom: 2rem;
}

.event .container .box1 {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.1) 50%,
            rgba(0, 0, 0, 0.3) 80%,
            #000 100%),
        url(../images/catt1.jpg) center center no-repeat;
    background-size: cover;
}

.event .container .box1:hover {
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0.6;
}

.event .container .box2 {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.1) 50%,
            rgba(0, 0, 0, 0.3) 80%,
            #000 100%),
        url(../images/catt2.jpg) center center no-repeat;
    background-size: cover;
}

.event .container .box2:hover {
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0.6;
}

.event .container .box3 {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.1) 50%,
            rgba(0, 0, 0, 0.3) 80%,
            #000 100%),
        url(../images/catt3.jpg) center center no-repeat;
    background-size: cover;
}

.event .container .box3:hover {
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0.6;
}

.event .container .box4 {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.1) 50%,
            rgba(0, 0, 0, 0.3) 80%,
            #000 100%),
        url(../images/catt4.jpg) center center no-repeat;
    background-size: cover;
}

.event .container .box4:hover {
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0.6;
}

.event .container .in {
    position: absolute;
    bottom: 20px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
}

.event .container .in h4 {
    font-size: 2rem;
}

.event .container .in p {
    font-size: 1.5rem;
}

/* footer start */
.footer {
    background: var(--brown);
    text-align: center;
}

.footer h3{
    color: var(--bg);
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    border-radius: 50%;
    margin: .3rem;
}

.footer .share a:hover {
    background: var(--main-color);
    color: white;
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
    
}

.footer .link a {
    color: var(--bg);
    
    font-size: 1.3rem;
    padding: .7rem 1rem;
}

.footer .links a:hover {
    background: var(--main-color);
    color: white;
}

.footer .fin p {
    font-size: 1.5rem;
    text-align: left;
    color: var(--bg);
    line-height: 200%;
}


.footer .credit {
    font-size: 1.5rem;
    color: var(--ft);
    padding: 1.5rem;
    font-weight: lighter;
}

.footer .credit span {
    color: var(--main-color);
}


/* mdeia queries / break point */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .home .content h3 {
        font-size: 5rem;
        margin-left: 1rem;
    }


    .header {
        padding: 1.5rem 2rem;
    }

    .world .image {
        display: flex;
        flex-direction: column;
    }

    .world .image img {
        width: 100%;
        height: 40rem;
    }
}


@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .home {
        min-height: 70vh;
        background-size: auto;
    }

    /* .home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/mainBanner_pc.jpg);
    background-size: cover;
    background-position: center;
} */

    
    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: var(--bg);
        width: 16rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar a {
        color: var(--ft);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
        text-align: center;
    }

    .header .navbar a:hover {
        color: var(--main-color);
        border: none;
    }

    .header .navbar.active {
        right: 0;
    }

    swiper-container {
        height: 70rem;
        background: #edebeb;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: var(--swiper-navigation-top-offset, 25%);
        color: #fff;
    }

    

    section {
        padding: 0;
    }

    .world .image {
        width: 100%;
        height: 40rem;
    }

    .world .row .content {
        padding-left: 3rem;
        padding-top: 2rem;
    }

    .world .row .content h3 {
        font-size: 2.5rem;
        color: var(--ft);
        padding-bottom: 1.5rem;
    }

    .world .row .content p {
        font-size: 1.5rem;
        color: #272727;
        line-height: 1.5;
    }

}

.premium .box-container .box .image {
    width: 100%;
    height: 50rem;
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .world .row .content {}

    .world .image img {
        width: 100%;

    }

    swiper-container {
        height: 60rem;
        background: #edebeb;
    }



    .home .content p {

        font-size: 2rem;
        line-height: 1.5;
        padding: 0.5rem 0;
    }
}

.event .container .box{
    height: 20rem;
}